@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Howell';
  src: url('./assets/fonts/Howell_Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}